<ul>
  <!-- item start -->
  <li>
    <a href="#" class="active">
      <span class="icon">
        <span class="material-symbols-outlined"> team_dashboard </span>
      </span>
      <span class="tip">Dashboard</span>
      <span class="line"></span>
    </a>
  </li>
  <!-- item end -->
  <!-- item start -->
  <li>
    <a href="#">
      <span class="badge"></span>
      <span class="icon">
        <span class="material-symbols-outlined"> shopping_basket </span>
      </span>
      <span class="tip">Cart</span>
      <span class="line"></span>
    </a>
  </li>
  <!-- item end -->
  <!-- item start -->
  <li>
    <a href="#">
      <span class="badge"></span>
      <span class="icon">
        <span class="material-symbols-outlined">
          circle_notifications
        </span>
      </span>
      <span class="tip">Notification</span>
      <span class="line"></span>
    </a>
  </li>
  <!-- item end -->
  <li>
    <a href="#">
      <span class="badge"></span>
      <span class="icon">
        <span class="material-symbols-outlined"> alternate_email </span>
      </span>
      <span class="tip">Messages</span>
      <span class="line"></span>
    </a>
  </li>
  <!-- item end -->
   <!-- item end -->
   <li>
    <a href="#">
      <span class="icon">
        <span class="material-symbols-outlined"> settings </span>
      </span>
      <span class="tip">Settings</span>
      <span class="line"></span>
    </a>
  </li>
  <!-- item end -->
</ul>