.about {
  margin: 14px 0;
  & p {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
  }
  & .read-more {
    display: flex;
    height: 44px;
    align-items: center;
    & a{
      font-weight: 600;
    }
  }
}