.overlay,
.menu-overlay {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(95, 95, 95, 0.76);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn;
  animation-duration: 600ms;
  animation-timing-function: ease;
}
.menu-overlay{
  z-index: 999;
  animation: fadeIn;
  animation-duration: 600ms;
  animation-timing-function: ease;
}