<!-- video start -->
<div class="video">
  <!-- player start -->
  <div class="player"></div>
  <!-- player end -->
  <!-- thumbs start -->
  <div class="video-list swiper swipeme">
    <div class="swiper-wrapper">
      <div class="vid-item swiper-slide">
        <div class="inner"></div>
      </div>
      <div class="vid-item swiper-slide">
        <div class="inner"></div>
      </div>
      <div class="vid-item swiper-slide">
        <div class="inner"></div>
      </div>
      <div class="vid-item swiper-slide">
        <div class="inner"></div>
      </div>
      <div class="vid-item swiper-slide">
        <div class="inner"></div>
      </div>
      <div class="vid-item swiper-slide">
        <div class="inner"></div>
      </div>
      <div class="vid-item swiper-slide">
        <div class="inner"></div>
      </div>
    </div>
    <button class="btn-icon primary prev">
      <span class="icon outlined">chevron_left</span>
    </button>
    <button class="btn-icon primary next">
      <span class="icon outlined">chevron_right</span>
    </button>
  </div>
  <!-- thumbs end -->
</div>
<!-- video end -->