    <!-- swiper start -->
    <div class="row">
      <div class="row swiper swiper-list swipe">
        <div class="swiper-wrapper home">
          <div class="swipe-item swiper-slide modal-up" data-ctrl="" data-tmp="bnb">
            <div class="inner">
              <img class="img" src="/swiper/bnb.png" alt="List your airbnb for free">
              <span class="play">
                <img src="/play.png" alt="play icon">
              </span>
            </div>
            <span class="text">Bnb's</span>
          </div>
          <div class="swipe-item swiper-slide modal-up"  data-ctrl="" data-tmp="product">
            <div class="inner">
              <img class="img" src="/swiper/products.png" alt="Sell products online">
              <span class="play">
                <img src="/play.png" alt="play icon">
              </span>
            </div>
            <span class="text">Products</span>
          </div>
          <div class="swipe-item swiper-slide modal-up" data-ctrl="" data-tmp="services">
            <div class="inner">
              <img class="img" src="/swiper/services.png" alt="Offer services online">
              <span class="play">
                <img src="/play.png" alt="play icon">
              </span>
            </div>
            <span class="text">Services</span>
          </div>
          <div class="swipe-item swiper-slide modal-up" data-ctrl="" data-tmp="subscription">
            <div class="inner">
              <img class="img" src="/swiper/subscription.png" alt="Free only fans">
              <span class="play">
                <img src="/play.png" alt="play icon">
              </span>
            </div>
            <span class="text">Subscriptions</span>
          </div>
          <div class="swipe-item swiper-slide modal-up" data-ctrl="" data-tmp="fundraiser">
            <div class="inner">
              <img class="img" src="/swiper/fundraisers.png" alt="Create a fundraiser for free">
              <span class="play">
                <img src="play.png" alt="play icon">
              </span>
            </div>
            <span class="text">Fundraisers</span>
          </div>
        </div>
        <button class="btn-icon accent prev sm">
          <span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
              <g id="chevron_left" transform="translate(-119 -530)">
                <rect id="Rectangle_96" data-name="Rectangle 96" width="42" height="42" rx="21" transform="translate(119 530)" fill="none"/>
                <path id="right" d="M15.35,20.35l-7-7,7-7,1.3,1.3-5.7,5.7,5.7,5.7Z" transform="translate(126.65 537.95)" fill="#fff"/>
              </g>
            </svg>                                                                   
          </span>
        </button>
        <button class="btn-icon accent next sm">
          <span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
              <g id="chevron_right" transform="translate(-119 -530)">
                <rect id="Rectangle_96" data-name="Rectangle 96" width="42" height="42" rx="21" transform="translate(119 530)" fill="none"/>
                <path id="right" d="M9.651,20.35l7-7-7-7-1.3,1.3,5.7,5.7-5.7,5.7Z" transform="translate(128.15 537.95)" fill="#fff"/>
              </g>
            </svg>                                                   
          </span>
        </button>
      </div>
    </div>
    <!-- swiper end -->