<div class="toolbar fixed">
  <div class="toolbar-row">
    <a href="/" class="logo light">
      Sequelize
    </a>
    <!-- menu start -->
    <ul class="menu inline">
      <li>
        <a class="<%= path === 'home' ? 'active' : '' %>" href="/">
          Find All
          <span class="line"></span>
        </a>
      </li>
      <li>
        <a class="<%= path === 'limit' ? 'active' : '' %>" href="/limit">
          Limit Posts
          <span class="line"></span>
        </a>
      </li>
      <li>
        <a class="<%= path === 'group' ? 'active' : '' %>" href="/grouping">
          Grouping
          <span class="line"></span>
        </a>
      </li>
      <li>
        <a class="<%= path === 'post' ? 'active' : '' %>" href="/post">
          Post
          <span class="line"></span>
        </a>
      </li>
    </ul>
    <!-- menu end -->
  </div>
</div>